/* General styles */
body {
    background-color:  #282a36;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: #ff69b4;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  /* Header styles */
  .header-wrapper {
    background: linear-gradient(90deg, #ff69b4, #ff1493);
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
  }
  .logo span {
    text-decoration: none;
  }  
   
  a {
    text-decoration: none;
    display: block;
    color: hsl(0, 0%, 80%);
  }

 /* New section for switch */

 .switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff69b4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f321e2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


  /* anime description styles */

  .anime-description {
    background-color: #162032;
    padding: 15px;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: scroll;
    padding-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .anime-image {
    background-color: #162032;
    padding: 15px;
    border-radius: 8px;
    max-height: 100%;
    overflow-y: hidden;
    padding-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
  }
  

  .anime-description>.data {
    font-size: 25px;
    margin: 15px 0;
    word-spacing: 5px;
    font-weight: 600;
  }
  
  .anime-description>p {
    font-size: 18px;
    font-weight: 500;
    max-width: 900px;
  }
  
  /* Search section styles */
  .search-section {
    background-color:  #282a36;
    padding: 20px 0;
  }
  
  #search-form {
    display: flex;
    justify-content: center;
  }
  
  input[type="search"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    background-color: #fff;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ff69b4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #ff1493;
  }
  
  /* Search results styles */
  #search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-result-image {
    width: 150px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-result-name {
    display: block;
    width: 150px; /* Set the width of the container to match the image */
    white-space: nowrap; /* Prevent the text from wrapping */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis (...) to indicate truncated text */
  }
  
  .loading-spinner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ff69b4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Video player Styles */
  .video-section {
    position: relative;
  }
  
  .episode-navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .episode-button {
    background-color: #f06292;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s;
    pointer-events: all;
  }
  
  .episode-button:hover {
    background-color: #e91e63;
  }
  
  .episode-button:disabled {
    background-color: #f8bbd0;
    cursor: not-allowed;
  }
  
  .episode-button:disabled:hover {
    background-color: #f8bbd0;
  }
  
  
  /* Footer styles */
  .footer-wrapper {
    background: linear-gradient(90deg, #ff69b4, #ff1493);
    padding: 10px 20px;
    text-align: center;
  }
  
  #video-section {
    display: none;
      margin-top: 20px;
      display: flex;
      padding-left: 5rem;
      padding-right: 5rem;
      transition: .5s ease-in-out;
      flex-direction: column;
    }

  .description {
    font-size: 16px;
    line-height: 1.5;
    color: #f5f5f5;
    margin-bottom: 20px;
  }
  
  .episode-list {
    background-color: #162032;
    padding: 20px 30px;
    border-radius: 10px;
    flex-direction: row;
    margin-top: 5%;
    flex-wrap: wrap;
    max-height: 400px;
    max-width: 900px;
    overflow: auto;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .pagination button {
    background-color: #f06292;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #e91e63;
  }
  
  .pagination button:disabled {
    background-color: #f8bbd0;
    cursor: not-allowed;
  }
  
  .pagination button:disabled:hover {
    background-color: #f8bbd0;
  }
  
  .hidden {
    display: none;
  }
  

.list-box {
  width: 80%;
}

@media (max-height: 300px) {
  .search-section form#search-form {
    flex-direction: column;
    align-items: center;
  }

  .search-section form#search-form input[type="search"] {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .search-section form#search-form button[type="submit"] {
    width: 100%;
    border-radius: 5px;
  }
}